.container {
    height: 250px;
    width: 300px;
    margin: 0 auto;
    position: relative;
    margin: 0 auto;
    border: 1px solid black;
}

#product {
    position: absolute;
    overflow: hidden;
    height: 250px;
    width: 300px;
}

.cup {
    position: absolute;
    left: -40px;
    height: 650px;
    width: 500px;
}

#banners {
    position: absolute;
    left: 400px;
    top: 106px;
    height: 400px;
    width: 500px;
}

.craft {
    position: absolute;
    top: -102px;
    right: 604px;
    height: 250px;
    width: 300px;
    opacity: 0;
}

#super {
    position: absolute;
    height: 250px;
    width: 280px;
    left: 60px;
    opacity: 0;
}

#fresh {
    position: absolute;
    height: 250px;
    width: 280px;
    opacity: 0;
}

#cta {
    position: absolute;
    height: 250px;
    width: 280px;
    left: 6px;
    opacity: 0;
}