.container {
    height: 825px;
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    position: absolute;
}

#product {
    position: relative;
}

#banners {
    position: absolute;
    left: 400px;
    top: 106px;
    height: 400px;
    width: 500px;
    opacity: 0;
}

#super {
    position: absolute;
    left: 550px;
    opacity: 0;
}

#fresh {
    position: absolute;
    left: 400px;
    opacity: 0;
}

#cta {
    position: absolute;
    left: 400px;
    top: 25px;
    opacity: 0;
}